[user]
    name = Mugeun Kwon
    email = mugeun.kwon@linecorp.com
[core]
    editor = vim
[diff]
    tool = vimdiff
[color]
    ui = auto
    branch = auto
    interactive = auto
    status = auto
[alias]
    st = status
    stat = status
    sb = submodule
    co = checkout
    br = branch
[push]
    default = current
[credential "https://github.com"]
    username = tazo
[credential]
    helper = cache --timeout=3600
